version: "3.8"

volumes:
    postgres_data:
    pgadmin_data:

services:
    postgres:
      image: postgres:18
      container_name: airflow_postgres
      environment: 
          POSTGRES_USER: ${POSTGRES_USER}
          POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
          POSTGRES_DB: ${POSTGRES_DB}
      ports:
          - "5832:5432"
      volumes:
          - postgres_data:/var/lib/postgresql
    
    pgadmin:
        image: dpage/pgadmin4
        depends_on:
          - postgres
        environment:
          PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
          PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
        ports:
          - "5050:80"
        volumes:
            - pgadmin_data:/var/lib/pgadmin/

    airflow:
      build: .
      depends_on: 
          - postgres
      environment:
        AIRFLOW__DATABASE__SQL__ALCHEMY__CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
        AIRFLOW__CORE__EXECUTER: LocalExecutor  
      volumes:
        - ./dags:/opt/airflow/dags
        - ./src:/opt/airflow/src
        - ./data:/opt/airflow/data
      ports:
        - "8080:8080"
      command: airflow standalone


